<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>security-rs</display-name>
  <!-- Swagger -->
  <context-param>
		<param-name>javax.ws.rs.core.Application</param-name>
		<param-value>com.mastek.security.rest.service.SwaggerConfiguration</param-value>
	</context-param>
	
	<context-param>
		<param-name>resteasy.resources</param-name>
		<param-value>com.wordnik.swagger.jaxrs.listing.ApiListingResourceJSON</param-value>
	</context-param>

	<context-param>
		<param-name>resteasy.providers</param-name>
		<param-value>
    			com.wordnik.swagger.jaxrs.listing.ApiDeclarationProvider
    			,com.wordnik.swagger.jaxrs.listing.ResourceListingProvider
    	</param-value>
	</context-param>

	<servlet>
		<servlet-name>DefaultJaxrsConfig</servlet-name>
		<servlet-class>com.wordnik.swagger.jaxrs.config.DefaultJaxrsConfig</servlet-class>
		<init-param>
			<param-name>api.version</param-name>
			<param-value>1.0.0</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.api.basepath</param-name>
			<param-value>http://devsecurityrs.azurewebsites.net/security-rs</param-value>
		</init-param> 
		<load-on-startup>2</load-on-startup>
	</servlet>

  
  <!-- End Swagger -->
  
   <listener>
    <listener-class>
         org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
    </listener-class>
  </listener> 
    <listener>
    	<listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
  	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:application-context.xml</param-value>
	</context-param>
  <servlet>
    <servlet-name>resteasy-servlet</servlet-name>
    <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
    </servlet-class>
  </servlet>
  <!--  <servlet>
     <servlet-name>Jersey2Config</servlet-name>
        <servlet-class>io.swagger.jaxrs.config.DefaultJaxrsConfig</servlet-class>
        <init-param>
            <param-name>api.version</param-name>
            <param-value>1.0</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.api.basepath</param-name>
            <param-value>http://localhost:9092/sdt-rs</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet> -->
  <servlet-mapping>
    <!-- <servlet-name>resteasy-servlet</servlet-name>
    <url-pattern>/*</url-pattern> -->
    <servlet-name>resteasy-servlet</servlet-name>
			<url-pattern>/api/*</url-pattern>
			<url-pattern>/api-docs/*</url-pattern>
  </servlet-mapping>
   <filter>
      <filter-name>CORSServletFilter</filter-name>
       <filter-class>com.mastek.security.filter.CORSServletSecurityFilter</filter-class>  
   </filter>
   <filter-mapping>
       <filter-name>CORSServletFilter</filter-name>
       <url-pattern>/api/*</url-pattern>
   </filter-mapping> 
</web-app>