/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Feb, 2016, 11:41:23 AM
    Author     : Dharav12871
*/

body.ui-mobile-viewport{
    overflow: hidden;
}

.ui-listview ui-listview-inset ui-corner-all ui-shadow ui-group-theme-c{
    padding-right:10px !important;
}
.collTime{
    margin-left:4%;
}
.collDay{
    margin-right:4%;
}

.contact1, .contact2{
    display: inline-block;
    width: 100%;
}

.contact1 .ui-input-text, .contact2 .ui-input-text{
    width: 80%;
    float: left;
    border:none;
}


.personalDetails{
    margin-top:-16px;
    border-radius: 0px;
}
.loanList{
    font-size: 16px;
}
.cust{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.custicon, .ui-listview .ui-li-has-thumb > img:first-child, .ui-listview .ui-li-has-thumb > .ui-btn > img:first-child, .ui-listview .ui-li-has-thumb .ui-li-thumb{
    border-radius: 50% !important; background-position: 50%; width:50px; height:50px; position:absolute; top: 10px; left:20px;
}

.address{
    width: 100%;
}

.address .ui-input-text{
    float:left;
    width: 80%;
    border: none;
    padding: 0px;
    word-break: normal;
}

.email .ui-input-text, .journey-info .ui-input-text{
    border: none;
}

.addr{
    display: inline-block;
    
}
li > h2, li > div > h2{
    color:black;
    font-size:14px !important;
    font-weight:normal !important
}
button.newLoan{
    margin-left:-4px;
}

span.tenure{
    float:right;
}
span.esb{
    color:#1f9bde;
    float:right;
}
span.totalColl, .total{
    font-size: 16px;
}
span.total{
    float:right;
    font-weight:bold;
    line-height: 20px;
}
#dashBtn1, #dashBtnEdit{
    margin-top:-10px;
    margin-top:-10px;
}
div.btngroup{
	background-color: #c5c5c5 !important;
    padding-top: 8px;
    padding-left: 0px;
    padding-right: 14px;
    margin-top: -10px;
    margin-bottom: -16px;
    margin-left: -16px;
    margin-right: -16px;
    border-radius: 0px;
    padding-bottom: 4px;
}


div.collection-day{
    display: inline-block; 
    float: left; 
    width:60%;
}

div.journey-info{
    display: inline-block; 
    float: left; 
    width:40%;
}
.ui-content .ui-listview-inset, .ui-panel-inner > .ui-listview-inset{
    margin-bottom:-8px;   
}
.personalDetails ui-alt-icon ui-collapsible ui-collapsible-inset ui-corner-all ui-collapsible-themed-content ui-collapsible-collapsed ui-first-child, .ui-collapsible-heading{
    border-radius:0px;
}

.ui-listview > li.ui-first-child, .ui-listview > li.ui-first-child > a.ui-btn{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.ui-corner-all{
    border-radius: 0px;
}

.ui-body-c{
    border-width: 1px;
    margin-left: 0px;
    margin-right: 0px;
}

.ui-btn{
    font-size: 14px;
    font-weight: normal;
}

#dashBtn2>.ui-btn, #dashBtn1>.ui-btn, #dashBtnEdit>.ui-btn{
    font-size: 16px;
    font-weight: normal;
}

.loanlist-payment{
    padding-top: 13px;
    color: #7a7a7a;
    padding-bottom: 4px;
}

.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head + body .ui-btn-a.ui-btn:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head + body .ui-focus.ui-btn-a, html head + body .ui-focus.ui-body-a{
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow:none;
}

.ui-popup{
    width: 200px;
    top:-70px;
    border-radius: 9px;
}
.ui-popup .ui-btn{
    font-weight: normal;
}
.ui-popup .ui-title{
    text-align: center;
}

.ui-overlay-d{
    background-color: #000;
}

.ui-page-theme-f .ui-btn:focus, html .ui-bar-f .ui-btn:focus, html .ui-body-f .ui-btn:focus, html body .ui-group-theme-f .ui-btn:focus, html head + body .ui-btn-f.ui-btn:focus, .ui-page-theme-f .ui-focus, html .ui-bar-f .ui-focus, html .ui-body-f .ui-focus, html body .ui-group-theme-f .ui-focus, html head + body .ui-focus.ui-btn-f, html head + body .ui-focus.ui-body-f{
    -webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow:none;
}

.toggle-heading{
    font-weight: normal;
}

/*content-shadow*/
.ui-page-theme-e .ui-btn:focus, html .ui-bar-e .ui-btn:focus, html .ui-body-e .ui-btn:focus, html body .ui-group-theme-e .ui-btn:focus, html head + body .ui-btn-e.ui-btn:focus, .ui-page-theme-e .ui-focus, html .ui-bar-e .ui-focus, html .ui-body-e .ui-focus, html body .ui-group-theme-e .ui-focus, html head + body .ui-focus.ui-btn-e, html head + body .ui-focus.ui-body-e{
    box-shadow: 0px 0px 0px #1f9bde;
}

/*panel-header-border*/
.ui-listview > .ui-last-child.ui-li-static, .ui-listview > .ui-last-child.ui-li-divider, .ui-listview > li.ui-last-child > a.ui-btn{
    border-bottom-width: 0px;
}

.ui-shadow{
    box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
}

.input-group{
    position: relative;
    padding-bottom: 6px;
}


.input-left{
    position: relative;
    display: block;
    float: left;
    line-height: 35.1875px;
    font-size: 26px;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ebebeb !important;
}
.input-right{
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    right: 0px;
    top: 7px;
}

.ui-input-text{
    margin: 0px;
}

.spanExp{
    position: relative;
    display: block;
    float: left;
    line-height: 30px;
    border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    padding-left: 10px;
    background-color: #e7e7e7 !important;
}

.input-group .ui-input-text{
    margin: 0em;
    border: none;
    background-color: transparent;
    width: 78%;
    position: absolute;
    top: 0;
    left: 35.4688px;
    z-index: 3;
}

.ui-shadow-inset{
    box-shadow: inset 0px 0px 0px rgba(0,0,0,0.2);
}

/*panel content body border*/
.ui-collapsible-themed-content.ui-collapsible-inset .ui-collapsible-content{
    border: none;
}

.ui-collapsible-inset .ui-collapsible-heading .ui-btn{
    border-right-width: 0px;
    border-left-width: 0px;
}

.ui-listview-inset > .ui-li-static, .ui-listview-inset > .ui-li-divider, .ui-listview-inset > li > a.ui-btn{
    border-right-width: 0px;
    border-left-width: 0px;
}

.walkOrder>.ui-select>.ui-btn{
    border: none;
    height:6px;
    line-height: 12px;
    padding-top: 4px;
    padding-left: 12px;
}


.walkOrder>.ui-select .ui-btn > span:not(.ui-li-count){
    margin-left:-12px;
    height: 16px;
}


html .ui-body-c .ui-btn:hover, html .ui-body-c .ui-btn:hover{
    background-color: #f4f4f4;
    border: 1px solid #000;
    border-left: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.ui-bar-h {
    background-color: white;
    color: black;
    text-shadow: none;
    border: none;
    padding-bottom: 10px;
    border-radius: 10px;
}

.popupContent .ui-listview > .ui-last-child.ui-li-static{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ui-icon-delete:after{
    background-image:url("themes/images/icons-png/delete-blue.png");
}
.deleteIcon{
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-color:#1f9bde;
    box-shadow: 1px 3px 5px gray;
}

span.contactIcon, span.addressIcon{
    float: right;
    border: 0px;
    padding-right: 10px;
    margin-top: -3px;
}


span.addressIcon img, span.contactIcon img{
    height:22px;
}

span.contactIcon img.landline-img{
    height: 17px;
    width: 17px;
    margin-top: 2px;   
}

div.contact2 span.contactIcon{
    margin-top:2px;
}

.ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn{
    text-overflow: none;
    white-space: normal;    
    word-break: break-all;
    line-height: 120%;
}
.fullName{
    font-size: 18px; 
    font-weight: bold;
    display:inline;
}

.cust-header{
    display: inline;
    height: 20px;
    word-break: break-word;
    display: table-cell;
    padding: 4% 0;
}
.cust-bottom-number{
        height: 30px;
    position: relative;
    margin-top: 4%;
}
.ui-listview > .ui-last-child.ui-li-static{
border-bottom-width: 0px;
}

.email .ui-input-text input, .contact1 .ui-input-text input, .contact2 .ui-input-text input, .journey-info .ui-input-text input{
    padding: 0px;
    min-height: 0px;
}

.journey-info .ui-input-text input{
    padding-top: 1px;
}

.ui-select {
    margin-top: 0em;
    margin-bottom: 0em;
}

.walkOrder .ui-select .ui-btn{
    text-align: left;
}

.performanceIndicator{
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    padding: 1px 2px 1px 2px;
    font-size: 15px;
}

.piGreen{
    color: #14970d;
}
.piAmber{
    color: #ffb44f;
}
.piRed{
    color: #f3413f;
}

.ui-state-disabled, .ui-select .ui-btn.ui-state-disabled{
    opacity: 1.0;
}
.contact1, .contactNumber{
    color: #0d9ae2 !important;
}
.contact1 .ui-input-text input, .contact2 .ui-input-text input{
	width: 92px;
}

html head + body .ui-btn.ui-btn-f:hover {
    background-color: #e5f4ff /*{f-bhover-background-color}*/;
}

.ui-listview > li h2{
    margin: 0px;
}

/*Carat Icons Modification */
.ui-alt-icon .ui-icon-carat-u:after{
    background-image: url("themes/images/icons-png/carat-u-black.png")
}
.ui-alt-icon .ui-icon-carat-d:after{
    background-image: url("themes/images/icons-png/carat-d-black.png")
}

div.loanlist-folio, div.loanlist-arrears-esb{
    color: #000;
}

input.actualPay{
    display: inline-block;
    font-size: 16px;
    color: #939393;
    padding-bottom: 0.3em;
}

.ui-input-text .ui-mini input{
    font-size: 16px;
}

.input-group>.ui-select>.ui-btn{
    border: 1px solid #000;
    height: 15px;
    border-left: none;
    background-color: #f4f4f4;
}

span.payment-cmbbox{
    color: transparent;
}

div.loanList>.ui-collapsible-content{
    max-height: calc(100vh - 360px);
    overflow-y: auto;
}

/*Footer*/
.ui-page-theme-a .ui-bar-inherit{
    background-color: #e2e2e2;
}

.custFooter .footer-btngroup{
    background-color: #c5c5c5;
    margin-left: 7px;
    margin-right: 7px;
    padding-right: 13px;
    margin-bottom: 12px;
}

.ui-footer button.ui-btn {
    width: 100%;
}

#footer-dashBtn1 .ui-btn, #footer-dashBtn2 .ui-btn{
    font-size: 16px;
}
#footer-dashBtn2 .ui-btn{
    margin-top: 0px;
}




